doctype html
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='/css/index.css')
        script(src='//code.jquery.com/jquery-1.11.2.min.js')
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='/js/index.js')
    
    body
        header
            h1 #{title}
        .container
            .sidebar
                h2 Connected users
                ul#users
                    each user in users
                        li.user= user
            .main-content
                ul#messages
                    each entry in history
                        li.message(class=entry.color)
                            span.who= entry.who
                            span.message= entry.message
                form#message_form(action='javascript:void(0)' onsubmit='messageSubmit(this)')
                    input#message.message(name='message' placeholder='Type your message here')
                    input(type='submit' value='send')
        footer
            p Running on node with Express and Jade